.Dashboard-Container {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  overflow-x: scroll;

  @media (max-width: 650px) {
    margin: auto;
  }

  // à partir de 600 px
  @media (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // 900 et +
  @media (min-width: 950px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .article {
    color: white;
    display: flex;
    flex-direction: column;
    transition: 1s;
    a {
      text-decoration: none;
      color: black;
    }
    &-img {
      flex-grow: 3;
      img {
        max-width: 100%;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    &-text {
      // background: salmon;
      flex-grow: 1;
      margin-top: 1.5rem;

      p {
        margin-top: 1rem;
        font-size: 12px;
      }

      p:nth-child(2) {
        font-style: italic;
        font-size: 10px;
      }
    }

    @media (max-width: 650px) {
      justify-content: center;

      a {
        text-align: center;
      }
    }
  }

  .article:first-child {
    // background-color: red;
    display: flex;
    flex-direction: row;
  }
}
