.Dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #fff9ef;
  padding: 2rem;
  width: 95vw;

  @media (max-width: 750px) {
    flex-direction: column;
    width: 100vw;
  }
}
