.Dashboard-Filter {
  @media (max-width: 750px) {
    width: 100%;
  }

  &-List {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    @media (max-width: 450px) {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 2rem;

    }

    .hashtag {
      font-size: 1.2rem;
      list-style-type: none;

      @media(max-width: 450px){
        flex-basis: 25%;
        text-align: center;
        margin-top: 1rem;
      }

      a {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        color: #9da0a5;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
    }

    @media (max-width: 450px) {
      // width: 25%;
    }
  }
}
