.Dashboard-Search {
  height: 10vh;
  //background-color: red;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  .Dashboard-Filter {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .Dashboard-SearchBar {
    position: relative;
    flex-basis: 20%;
    display: flex;
    padding: 1rem;

    input {
      height: 100%;
      outline: none;
      border: none;
      flex-basis: 90%;
      position: relative;
      background: transparent;
      border-bottom: 0.6px solid black;
      transition: all 0.5s;
    }
    input:focus {
      border-bottom: 1px solid red;
    }

    ::placeholder {
      font-size: 10px;
    }

    button {
      background: transparent;
      outline: none;
      border: none;
    }
  }
}
